[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-admin = "*"
flask-bcrypt = "*"
pillow = "*"
flask-security = "*"
flask-restful = "*"
flask-restplus = "*"
werkzeug = "==0.16.1"

[dev-packages]

[requires]
python_version = "3.9"
